*{
    margin: 0;
}
html{
    background: #ffffff;
}
#canvas{
    width: 1200px;
    height: 800px;
    background: #ffffff;
    border: 2px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}